// Default variable overrides
$primary: #F3B66D;
// Require
@import "../../node_modules/bootstrap-scss/functions";
@import "../../node_modules/bootstrap-scss/variables";
@import "../../node_modules/bootstrap-scss/mixins";
@import "../../node_modules/bootstrap-scss/bootstrap.scss";
// article btn center
article {
    margin: auto;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    .top_title {
        margin-bottom: 30px;
        font-weight: bold;
    }
    .top_btn {
        margin-bottom: 40px;
        .p_btn {
            border: 1px solid #EBEBEB;
            padding: 6px 8px;
            border-radius: 10px;
            margin-right: 10px;
            font-size: 15px;
            &:last-child {
                margin-right: 0;
            }
            &:hover {
                cursor: pointer;
                background-color: $primary;
                border: 1px solid $primary;
                color: white;
            }
        }
    }
}
* { margin: 0; padding: 0; }
p {
  margin: 0;
}

// css 초기화
a {
  text-decoration: none;
  color: $black;
  a:hover {
    text-decoration: none;
    cursor: pointer;
  }
}

.p_btn:last-child {
    margin: 0;
}

.postBtn {
    padding: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-right: 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-left: -3px;
    border: 1px solid gray;
}

select {
    appearance: none;
    -moz-appearance: none;
    /* Firefox */
    -webkit-appearance: none;
    /* Safari and Chrome */
}


/* IE 기본 스타일 제거 */

select::-ms-expand {
    display: none;
    /* IE 10, 11 */
}


/* webkit solution */

::-webkit-input-placeholder {
    text-align: left;
}


/* mozilla solution */

input:-moz-placeholder {
    text-align: left;
}

button,
input,
select,
textarea {
    font-size: 100%;
    /* 1 */
    margin: 0;
    /* 2 */
    vertical-align: baseline;
    /* 3 */
    *vertical-align: middle;
    /* 3 */
    all: unset;
}