// Default variable overrides
$primary: #F3B66D;
// Require
@import "../../node_modules/bootstrap-scss/functions";
@import "../../node_modules/bootstrap-scss/variables";
@import "../../node_modules/bootstrap-scss/mixins";
@import "../../node_modules/bootstrap-scss/bootstrap.scss";
// article btn center
article {
    margin: auto;
    text-align: center;
    .p_btn {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        margin-right: 10px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        margin-left: -3px;
        border: 1px solid gray;
        background-color: rgba(0, 0, 0, 0);
        color: black;
        &:last-child {
            margin: 0;
        }
    }
    .p_btn:hover {
        background-color: #F3B66D;
        color: white;
    }
}

// css 초기화
a:hover {
    text-decoration: none;
}

.p_btn:last-child {
    margin: 0;
}

.p_search {
    margin-top: 10px;
    margin-left: 20px;
    display: inline-block;
}

button,
input,
select,
textarea {
    font-size: 100%;
    /* 1 */
    margin: 0;
    /* 2 */
    vertical-align: baseline;
    /* 3 */
    *vertical-align: middle;
    /* 3 */
    all: unset;
}